body,html{
	height:100%;
	padding:0px;
	margin:0px;
}
body{
	font-family: Arial;
	background-image: url("../img/asdef.jpg");
	background-repeat: no-repeat;
}
#transicion{
	position: absolute;
	right: 0px;
	height: 100%;
	width: 0%;
	background-color: black;
	display: none;
	opacity: 0.5
}

/*DIV IZQUIERDA*/
#izquierda{
	position: fixed;
	height: 100%;
	width: 50px;
	background-color: white;
	opacity: 0.5;
}
#boton{
	position: absolute;
	display: block;
	right: 0px;
	cursor: pointer;
}
#opcionesInicio{
	text-align: center;
	position: absolute;
	display: none;
	width: 100%;
	height: 50px;
	top: 15%;
	cursor: pointer;
}

#opcionesInicio:hover{
	font-size: 120%;
	transition-duration: 0.35s;
}

#opcionesInfo{
	text-align: center;
	position: absolute;
	display: none;
	width: 100%;
	height: 50px;
	top: 15%;
	margin-top: 30%;
	cursor: pointer;
}

#opcionesInfo:hover{
	font-size: 120%;
	transition-duration: 0.35s;
}


#opcionesUbic{
	text-align: center;
	position: absolute;
	display: none;
	width: 100%;
	height: 50px;
	top: 15%;
	margin-top: 60%;
	cursor: pointer;
}

#opcionesUbic:hover{
	font-size: 120%;
	transition-duration: 0.35s;
}


#opcionesAbout{
	text-align: center;
	position: absolute;
	display: none;
	width: 100%;
	height: 50px;
	top: 15%;
	margin-top: 90%;
	cursor: pointer;
}
#opcionesAbout:hover{
	font-size: 120%;
	transition-duration: 0.35s;
}

.separacion{
	position: absolute;
	width: 0%;
	margin-left: 10%;
	height: 2px;
	background-color: black;
	top: 15%;
	display: none;
}

/*CONTENIDO*/

#inicioContent{
	position: absolute;
	right: 10%;
	top: 30%;
	display: block;
	height: auto;
	width: 60%;
	background-color: white;
	opacity: 0.5;
	border-radius: 10px;
	font-size: 200%;
	text-align: center;
}
#inicioContent p{
	padding: 5%;
}
#infoContent{
	position: absolute;
	right: 10%;
	top: 30%;
	display: none;
	height: auto;
	width: 60%;
	background-color: white;
	opacity: 0.5;
	border-radius: 10px;
	font-size: 200%;
	text-align: center;
}
#infoContent p{
	padding: 5%;
}
#ubicContent{
	position: absolute;
	right: 10%;
	top: 30%;
	display: none;
	height: auto;
	width: 60%;
	background-color: white;
	opacity: 0.5;
	border-radius: 10px;
	font-size: 200%;
	text-align: center;
}
#ubicContent p{
	padding: 5%;
}

